@{
    ViewData["Title"] = "Home Page";
}


<div>
<div class="HeaderDown">
            <div class="Wrap-HeaderDown">
                <div class="HeaderDown-Left">
                    <img src='https://2sao.vietnamnetjsc.vn/images/2020/04/29/04/18/hotgirl-anh-the-05.jpg' />
                </div>
                <div class="HeaderDown-Mid">
                    <input type="search"/>
                    <button>Tìm kiếm</button>
                </div>
                <div class="HeaderDown-Right">
                    <div class="div2">
                        <div class="div1">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                            <span>0</span>
                        </div>
                        <div class="HeaderDown-Right-Show">
                            <div class="HeaderDown-Right-Show-wrap">
                                <div class="Wrap-cart-show">
                                        


                                    </div>
                            </div>


                            <div class='Seen-cart'>
                               
                                    <a asp-controller="Cart" asp-action="Index">Xem giỏ hàng</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>


<div class="Container">
                <div class="Container-item">
                    <img src="https://2sao.vietnamnetjsc.vn/images/2020/04/29/04/18/hotgirl-anh-the-05.jpg" />
                    <h3>Tên của sản phẩm</h3>
                    <p>2000</p>
                    <button class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </button>
                </div>

                <div class="Container-item">
                    <img src="https://2sao.vietnamnetjsc.vn/images/2020/04/29/04/18/hotgirl-anh-the-05.jpg" />
                    <h3>Tên của sản phẩm</h3>
                    <p>2000</p>
                    <button>
                        Thêm vào giỏ hàng
                    </button>
                </div>

                <div class="Container-item">
                    <img src="https://2sao.vietnamnetjsc.vn/images/2020/04/29/04/18/hotgirl-anh-the-05.jpg" />
                    <h3>Tên của sản phẩm</h3>
                    <p>2000</p>
                    <button>
                        Thêm vào giỏ hàng
                    </button>
                </div>

                <div class="Container-item">
                    <img src="https://2sao.vietnamnetjsc.vn/images/2020/04/29/04/18/hotgirl-anh-the-05.jpg" />
                    <h3>Tên của sản phẩm</h3>
                    <p>2000</p>
                    <button>
                        Thêm vào giỏ hàng
                    </button>
                </div>












            <div class="overlay-add-cart"></div>
            <div class="Alrealdy-add-cart">
                <h1>Đã thêm vào giỏ hàng</h1>
                <button>Xong</button>
            </div>
</div>

















</div>





